/nbproject/private/
/GestionPersons1-ejb/nbproject/private/
/GestionPersons1-war/nbproject/private/
/GestionPersons1-ejb/build/
/GestionPersons1-ejb/dist/
/GestionPersons1-war/build/
/build/
/GestionPersons1-war/dist/